{% extends 'base.html' %} {% block content %} {% load static %}

<div class="m-3 ml-5">
  <h1 class="text-center mb-2">All Blog here</h1>
  <h5 class="text-center mb-4">
    Meditation, mindfulness, and self-improvement content. New articles
    published every Tuesday and Thursday.
  </h5>

  <div class="d-flex flex-row row justify-content-around">
    {% for post in object_list %}

    <div class="card col-md-3 ml-2 w-50 mb-2 h-50">
      <img class="img card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}" />
      <div class="card-body">
        <p>{{ post.date_time }}</p>
        <h5 class="card-title">
          <a href="{% url 'articalDetailsView' post.pk %}">
            {{ post.title }}
          </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-black">{{ post.title_subtitle}}</h6>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Edit</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
<hr>


<div class="m-3 ml-5 mt-5"></div>
<h1 class="text-center mb-2">Technical blogs for Developers</h1>
<h5 class="text-center mb-4">
  Excellent resource for developers to stay updated with the latest trends,
  learn new skills.
</h5>
  <div class="d-flex flex-row row justify-content-around">
    {% for post in object_list %}
    <div class="card col-md-3 mb-2">
      <img class="img card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}" />
      <div class="card-body">
        
        <p>{{ post.date_time }}</p>
        <h5 class="card-title">
          <a href="{% url 'articalDetailsView' post.pk %}">
            {{ post.title }}
          </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-black">{{ post.title_subtitle }}</h6>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Edit</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
